<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :placeholder => "street,city,state,zip" %>
  </div>
  <div class="field">
    <%= f.label :unit_number %><br />
    <%= f.text_field :unit_number, :placeholder => 'ex. apt 102' %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :placeholder => 'ex. Chicago' %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :placeholder => 'ex. Il' %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :placeholder => 'ex. 60606' %>
  </div>
  <div class="field">
    <%= f.label :available %><br />
    <%= f.date_select :available %>
  </div>
  <div class="field">
    <%= f.label :beds %><br />
    <%= f.text_field :beds %>
  </div>
  <div class="field">
    <%= f.label :bath %><br />
    <%= f.text_field :bath %>
  </div>
  <div class="field">
    <%= f.label :building_description %><br />
    <%= f.text_area :building_description %>
  </div>
  <div class="field">
    <%= f.label :landlord_id %><br />
    <%= f.number_field :landlord_id %>
  </div>
  <div class="field">
    <%= f.label :in_unit_laundry %><br />
    <%= f.check_box :in_unit_laundry %>
  </div>
  <div class="field">
    <%= f.label :on_site_laundry %><br />
    <%= f.check_box :on_site_laundry %>
  </div>
  <div class="field">
    <%= f.label :parking_available %><br />
    <%= f.check_box :parking_available %>
  </div>
  <div class="field">
    <%= f.label :cats %><br />
    <%= f.check_box :cats %>
  </div>
  <div class="field">
    <%= f.label :dogs %><br />
    <%= f.check_box :dogs %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :showing_instructions %><br />
    <%= f.text_area :showing_instructions, :placeholder => 'ex. Call Joe at Kane Management' %>
  </div>
  <div class="field">
    <%= f.label :unit_description %><br />
    <%= f.text_area :unit_description %>
  </div>
  <div class="field">
    <%= f.label :utilities_included %><br />
    <%= f.text_area :utilities_included %>
  </div>
  <div class="field">
    <%= f.label :heat_included %><br />
    <%= f.check_box :heat_included %>
  </div>
  <div class="field">
    <%= f.label :photo_url %><br />
    <%= f.text_area :photo_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
