<section id="intro">
        <section class="shell">
            <h2 class="theme-apexb">Value message goes here</h2>
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item">               
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>How Many Bedrooms?</h3>
                                    <%= text_field_tag :search, params[:search], :placeholder => 'How many beds?'%>
                                </div>  
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2"></div>
                                <div class="ch-info-back">
                                    <h3>How Many Bathrooms?</h3>
                                    <%= text_field_tag :search, params[:search], :placeholder => 'How Many Baths'%>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-3"></div>
                                <div class="ch-info-back">
                                    <h3>Rent Range?</h3>
                                    <a><%= text_field_tag :search, params[:search], :placeholder => 'Min Rent'%></a>
                                    <a><%= text_field_tag :search, params[:search], :placeholder => 'Max Rent'%></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul><br><br>
         <!--  <form id="searchbox" action=""> -->
          <%= form_tag listings_url, :id => 'searchbox', :method => 'get' do %>
          <!-- search bar id is in text field tag -->
          <%= text_field_tag :search, params[:search], :placeholder => 'City, Zip, Neighborhood'%>
          <%= submit_tag 'Find Apartments', :class=> 'btn-search', :name => nil %>
          <% end %>        
        </form>
  <br>
  <p class="theme-apexb t-yellow"><br><strong>Unique Features</strong></p>
</section>  </section>
  <section id="tour" class="fake-page">
        <span class="top"></span>
<section class="content">
  <section class="shell">
    <h2 class="theme-apex">Feature Tour Goes Here</h2>
  </section>
</section>  </section>
  <section id="plans" class="fake-page">
        <section class="shell">
</section>  </section>
  <section id="more" class="fake-page">
        <section class="shell">
</section></section>
</section>

</body></html>