<section id="wrapper">
      <div class='search'>
        <form id="searchbox" action="">
          <%= form_tag listings_path, :method => 'get' do %>
          <!-- search bar id is in text field tag -->
          <%= text_field_tag :search, params[:search], :placeholder => 'City, Zip, Neighborhood'%>
          <%#= text_field_tag :bedbathbar, params[:search], :placeholder => '# of Beds'%>
          <%#= submit_tag 'Submit', :class=> 'btn-bedbath', :name => nil%>
          <%#= text_field_tag :bedbathbar, params[:search], :placeholder => '# of Baths'%>
          <%#= submit_tag 'Submit', :class=> 'btn-bedbath', :name => nil %>
           <%#= text_field_tag :rentbar, params[:search], :placeholder => 'Min Rent'%>
          <%#= submit_tag 'Submit', :class=> 'btn-bedbath', :name => nil%>
          <%#= text_field_tag :rentbar, params[:search], :placeholder => 'Max Rent s   '%>
          <%#= submit_tag 'Submit', :class=> 'btn-bedbath', :name => nil %>
          <%= submit_tag 'Find Apartments', :class=> 'btn-search', :name => nil %>
          <% end %>        
        </form>
    </div>
      <div class="options">
        <div class="optionhead">
             <div id="option-arrow" class="arrow-left">
            <a href="#" id="optarr" class="goleft" onclick="slidePaneloption('close')"><img src='/assets/arrowoverlay.png' /></a>
          </div></div>
          <div class="optionbody">
            <table>
              <tr>
                  <th></th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
              </tr>
              <tr>
                  <td>Type</td>
                  <td><input type="checkbox" name="row-1" data-col="1"></td>
                  <td><input type="checkbox" name="row-1" data-col="2"></td>
                  <td><input type="checkbox" name="row-1" data-col="3"></td>
              </tr>
              <tr>
                  <td>Features</td>
                  <td><input type="checkbox" name="row-2" data-col="1"></td>
                  <td><input type="checkbox" name="row-2" data-col="2"></td>
                  <td><input type="checkbox" name="row-2" data-col="3"></td>
              </tr>
              <tr>
                  <td>List Date</td>
                  <td><input type="checkbox" name="row-3" data-col="1"></td>
                  <td><input type="checkbox" name="row-3" data-col="2"></td>
                  <td><input type="checkbox" name="row-3" data-col="3"></td>
            </tr>
                    <tr>
                  <td>Pets</td>
                  <td><input type="checkbox" name="row-3" data-col="1"></td>
                  <td><input type="checkbox" name="row-3" data-col="2"></td>
            </tr>
          </table>
        </div>
      </div>
    <div class="listings-set">
        <div class="listing">
            <div class="listhead"> 
 <form id="searchbox" action="">     
        </form>
              # of Results | Sort by: Rent Distance Availability</div>
            <div class="listbody">
              <%  @listings.each do |listing| %>
                <div class="listholder">
                  <div class="list-photo">
                  <%=link_to image_tag(listing.photo_url, :class=> 'listpic'), listing%>
                  </div>
                  <div class="list-details">
                    <div class="list-desc">
                      <strong>Description:</strong><%= listing.unit_description %><br>
                      <strong>Address:</strong> <%= listing.address %><br>
                      <strong>Beds:</strong> <%= listing.beds %> |  
                      <strong>Baths:</strong> <%= listing.bath %><br><br>
                      <% if @user.present? && @user.admin == true  %>
                      <%= link_to 'Edit', edit_listing_path(listing) %>
                      <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                  </div>
                  </div>
                  <div class="list-rent">
                    <% if session[:user_id].present? %>
                      <%= form_for @wishlist, :remote => :true do |f| %>
                      <%= f.hidden_field :user_id, value: "#{session[:user_id]}" %>
                      <%= f.hidden_field :listing_id, value: "#{listing.id}" %>
                      <%= f.submit 'W', :class=> 'btn-wish', :id => "#{dom_id(listing)}" %>
                      <% end %>
                    <% end %>
                      <strong>$<%= listing.price %></strong><br>
                      <input id="submit" type="submit" class="btn-rent" value="Rent"><br>
                      <span class="avail"><strong>Avl:</strong> <%= listing.available %></span><br>
                  </div>
               </div>
           <% end %>
             <div class="listfoot">Listings # 1 of 2</div>
        </div>
      </div>
      <div class='list-map'>
          <div class="maphead">
            <div id="map-arrow" class="arrow-left">
              <a href="#" id="maparr" class="goleft" onclick="slidePanel('close')">
                <img src='/assets/arrowoverlay.png' />
              </a>
            </div>
          </div>
          <div class='map'>   
            <%= gmaps({
                  "map_options" => { "type" => "ROADMAP", 'detect_location' => true , 'center_on_user' => true , "zoom" => 13, "auto_adjust" => false },"markers" => { "data" => @markers }
                  })
                %>
          </div>
      </div>
    </div>
    </section>
