<div class='search'>
    <form id="searchbox" action="">
    <input id="search" type="text" placeholder="City, Neighborhood, Zip">
    <input id="submit" type="submit" value="Search">
</form>
</div>

    




<div class='page'>
<fieldset class='outer'>
    <legend>Your Results</legend>

<%  @listings.each do |listing| %>
    <fieldset>
<div class='attributes'>
   <p><%= listing.unit_description %></p>
   <p><%= listing.address %></p>
   <p><%= listing.beds %> Beds</p>
   <p><%= listing.bath %> Baths</p>
   <p>Available <%= listing.available %></p>
   <p>Rent $<%= listing.price %></p>
</div>

<div class='photo'>
    <p><%= image_tag(listing.photo_url)%>
</div>
    <%= link_to 'Show', listing %>
   
    
    <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
    <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </fieldset>
<% end %>
</fieldset>

<br />
<div class='map'>
<%= gmaps({
        "map_options" => { "type" => "ROADMAP", "center_longitude" => -87.63, "center_latitude" => 41.90, "zoom" => 13, "auto_adjust" => true},
        "markers" => { "data" => @markers }
        })
        %>
      
</div>

</div>
<%= link_to 'New Listing', new_listing_path %>
