<section id="wrapper">
      <div class='search'>
        <form id="searchbox" action="">
          <%= form_tag listings_path, :method => 'get' do %>
          <!-- search bar id is in text field tag -->
          <%= text_field_tag :search, params[:search], :placeholder => 'City, Zip, Neighborhood'%>
          <%= submit_tag 'Find Apartments', :class=> 'btn-search', :name => nil %>
          <% end %>        
        </form>
    </div>
      <div class="options">
        <div class="optionhead">
             <div id="option-arrow" class="arrow-left">
            <a href="#" id="optarr" class="goleft" onclick="slidePaneloption('close')"><img src='/assets/arrowoverlay.png' /></a>
          </div></div>
          <div class="optionbody">
            <label for="fullname">Keyword:</label>
            <input type="text" id="fullname" />
            <p>Pets:</p>
            <p><input type="checkbox" value="cats" id="cats" /> <label for="cats"> Cats</label></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p><input type="checkbox" value="dogs" id="dogs" /> <label for="dogs"> Dogs</label></p><br><br>
            <p>Features:</p>
            <p><input type="checkbox" value="inunit" id="inunit" /> <label for="inunit"> In Unit</label></p><br>
            <p><input type="checkbox" value="onsite" id="onsite" /> <label for="onsite"> Laundry on-Site</label></p><br>
            <p><input type="checkbox" value="ac" id="ac" /> <label for="ac"> Central HVAC</label></p><Br>
            <p><input type="checkbox" value="heat" id="heat" /> <label for="heat"> Heat Included</label></p><br>
            <p><input type="checkbox" value="parking" id="parking" /> <label for="parking"> Parking</label></p><br>
        </div>
      </div>
    <div class="listings-set">
        <div class="listing">
            <div class="listhead"> 
 <form id="searchbox" action="">            
        </form>
              # of Results | Sort by: Rent Distance Availability</div>
            <div class="listbody">
              <div id="listhold1">
              <div class="listholder-stacked">
                <div class="stack1">
                  <div class="stackadd">123 Main Street</div>
                  <div class="money-icons">img placeholder</div>
                  <div class="listedby">Listed By: xxxxxxxxx</div>
                </div>
                <div class="stack2">
                  2222
                </div>
                <div class="stack3">
                  <div class="stackadd">123 Main Street</div>
                  <div class="money-icons">img placeholder</div>
                  <div class="listedby">Listed By: xxxxxxxxx</div>
                </div>
              </div>
            </div>
            <div class="listhold2">
              <%  @listings.each do |listing| %>
                <div class="listholder">
                  <div class="list-photo">
                  <%=link_to image_tag(listing.photo_url, :class=> 'listpic'), listing%>
                  </div>
                  <div class="list-details">
                    <div class="list-desc">
                      <strong></strong><%= listing.unit_description %><br>
                      <strong>Address:</strong> <%= listing.address %><br>
                      <strong>Beds:</strong> <%= listing.beds %> |  
                      <strong>Baths:</strong> <%= listing.bath %><br>
                                         <% if session[:user_id].present? %>
                      <%= form_for @wishlist, :remote => :true do |f| %>
                      <%= f.hidden_field :user_id, value: "#{session[:user_id]}" %>
                      <%= f.hidden_field :listing_id, value: "#{listing.id}" %>
                      <%= f.submit 'W', :class=> 'btn-wish', :id => "#{dom_id(listing)}" %>
                      <% end %>
                    <% end %><br>
                      <% if @user.present? && @user.admin == true  %>
                      <%= link_to 'Edit', edit_listing_path(listing) %>
                      <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% end %>
                  </div>
                  </div>
                  <div class="list-rent">
                      <strong>$<%= listing.price %></strong><br>
                      <input id="submit" type="submit" class="btn-rent" value="Rent"><br>
                      <span class="avail"><strong>Avl:</strong> <%= listing.available %></span><br>
                  </div>
               </div>
           <% end %>
         </div>
             <div class="listfoot">Listings # 1 of 2</div>
        </div>
      </div>
      <div class='list-map'>
          <div class="maphead">
            <div id="map-arrow" class="arrow-left">
              <a href="#" id="maparr" class="goleft" onclick="slidePanel('close')">
                <img src='/assets/arrowoverlay.png' />
              </a>
            </div>
          </div>
          <div class='map'>  
            <%= gmaps({
									"map_options" => @map_options,"markers" => { "data" => @markers}, "circles"     => { "data" => '[
                         {"lng": -87.6500, "lat": 41.8500, "radius": 15000, "strokeColor": "#FF0000"}
                         ]',  "zoom" => 15
                      }})

                %>
          </div>
      </div>
    </div>
    </section>
