<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<% if @user.wishlists.exists? %>
<p>
	<b>Wishlist:</b>
	<div>
	<p><% @user.wishlists.each do |wishlist|  %></p>
   <p><%= wishlist.listing.unit_description %></p>
   <p><%= wishlist.listing.address %></p>
   <p><%= wishlist.listing.beds %> Beds</p>
   <p><%= wishlist.listing.bath %> Baths</p>
   <p>Available <%= wishlist.listing.available %></p>
   <p>Rent $<%= wishlist.listing.price %></p>
</div>


<div class='photo'>
    <p><%= image_tag(wishlist.listing.photo_url)%>
</div>
   	<%= link_to 'Full Listing', listing_url(wishlist.listing) %> |
		<%= link_to 'Edit', edit_listing_path(wishlist.listing) %> |
    <%=link_to 'Remove From My Wish List', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% else %>
  <b>Wishlist:</b>
  <p>You haven't added any listings to your wishlist yet.</p>
  <% end %>
