<p id="notice"><%= notice %></p>

<p>
  <b>Keywords:</b>
  <%= @search.keywords %>
</p>

<p>
  <b>Attribute:</b>
  <%= @search.attribute_id %>
</p>

<p>
  <b>Min price:</b>
  <%= @search.min_price %>
</p>

<p>
  <b>Max price:</b>
  <%= @search.max_price %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
