<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<ul>

		<% if session["user_id"] %>
		Hello, <%= User.find(session[:user_id]).name %>!
			<%= link_to "Sign Out", "/logout" %>
		<% else %>
			<%= link_to "Sign In", "/login" %>
		<% end %>
	</ul>
</nav>

<%= yield %>
<%= yield :scripts %>
</body>
</html>
