<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<header>
	  <div class="logo"><span class="logotrans">TRANSPA</span><span class="logorent">RENT</span></div>
	  <nav>
	  	<div class="navbar">
	      <ul>
		      <li><%= link_to "Listings", listings_url %></li>
		      <li><a href="#">Saved Searches</a></li>
		      <li><%= link_to "List Apartment", new_listing_url %></li>
	      </ul>
	      		<div class="login">
		<ul>
			<% if session["user_id"] %>
			Hello, <%= User.find(session[:user_id]).name.capitalize %>!
				<%= link_to 'Home', root_url %>|
				<%= link_to "Sign Out", "/logout" %>|
				<%= link_to 'My Profile', user_url(session[:user_id]) %>|
				<%= link_to "My Favorites", user_url(session[:user_id]) %>
			<% else %>
				<%= link_to 'Home', root_url %> |
				<%= link_to "Sign In", "/login" %> |
				<%= link_to 'Sign Up!', new_user_url %> |
			<% end %>
			</ul>
		</div>
 		</div>
  		</nav>
	</header>
<%= yield %>
<%= yield :scripts %>
	</div>
	<footer>footer</footer>
</body>
</html>
