<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<ul>
		<%= link_to 'Home', root_url %> |
		<% if session["user_id"] %>
		Hello, <%= User.find(session[:user_id]).name %>!
			<%= link_to "Sign Out", "/logout" %> |
			<%= link_to 'My Profile', user_url(session[:user_id]) %> 
		<% else %>
			<%= link_to "Sign In", "/login" %> | <%= link_to 'Sign Up!', new_user_url %>
		<% end %>
		
	</ul>


</nav>

<%= yield %>
<%= yield :scripts %>
</body>
</html>
