<!DOCTYPE html>
<html lang="en" class=" js cssanimations csstransforms csstransforms3d csstransitions"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Real Transparent</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<header class="light">
					<div class="logo">
					<div class="skyline"></div>
					<div class="logoreal">
						<a href="<%= root_url %>"><span class="logotransparent">Real </span>Transparent</a>
					</div>
					</div>
					<% if session["user_id"] %>
						<span class="blue-button-head">Logged in as: <%= User.find(session[:user_id]).name.capitalize %></span><br>
						<a href="../logout" class="blue-button" style="color: white;">	Sign Out</a>
						<a href="<%= user_url(session[:user_id]) %>" class="blue-button" style="color: white;">My Profile</a>
					<% else %>
						<a href="../login" class="blue-button contact-popup-link" style="color: white;">Sign In</a>
						<a href="../users/new" class="blue-button popup-link cboxElement" style="color: white;">Sign Up</a>
					<% end %>
			<div id="headfoot" class="shell">
			</div>
	<div id="navigation" class="type2">
		<div id="main-nav">
			<div class="shell">
				<ul id="menu-main-navigation" class="menu">
					<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
						<a href="<%= root_url %>">Home</a></li>
					</li>
					<li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
						<a href="<%= listings_url %>">Search Listings</a></li>
					<% if session["user_id"] && User.find(session[:user_id]).landlord == true %>
						<li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
						<a href="<%= new_listing_url %>">List Apartment</a></li>
					<% else %>
						<li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
						<a href="<%= new_listing_url %>">List Apartment</a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</header>
<%= yield %>
<%= yield :scripts %>
</div>
<footer class="dark"></footer>
</body>
</html>